#addTodo {
    flex-basis: 100%;
    max-width: 100%;
}

#title input {
    width:16%;
    min-width: 100px;
}

#list-title {
    padding-right: 14px;
}
#todoInputArea{
    padding: 15px;
    background:lightblue;
}
.customButton{
    border:none;
    border-radius: 1px;
    padding: 6px;
    background:lightblue;
}

.customButton:hover{
    background:dodgerblue;
}

#todoStatusSel{
    padding: 5.5px;
    background: white;
    border-radius: 2px;
    border-style:solid;
    border-color: lightgray;

}
#submitBtn:hover{
    background: lightgray;
}



