<hr>
<div id="todoInputArea">
<h4>Add a new Todo:</h4>
<span class="row">
    <span id="addTodo" class="col-lg-5">
        <span class="input-group">
            <input class="form-control" #input type="text" placeholder="Owner" [(ngModel)]="newTodoOwner">
            <input class="form-control" #input type="text" placeholder="Catagory" [(ngModel)]="newTodoCatagory">
            <input class="form-control" #input type="text" placeholder="Body" [(ngModel)]="newTodoBody">
            <button class="form-control" #input type="button" (click)="this.addNewTodo(newTodoOwner, newTodoCatagory, newTodoBody, newTodoStatus)">Add Todo</button>
        </span>
    </span>
</span>

</div>
<br>

<span id="title" class="list-group-item list-group-item-info">
    <h4>Filter Todos:</h4>
    <input id="todoOwner" #input type="text" placeholder="Filter by Owner" (input)="todoOwner = $event.target.value">
    <input id="todoCatagory" #input type="text" placeholder="Filter by Category" (input)="todoCatagory = $event.target.value">
    <input id="todoBody" #input type="text" placeholder="Filter by Body" (input)="todoBody = $event.target.value">
    <input id="todoStatus" #input type="text" placeholder="Filter by Status" (input)="todoStatus = $event.target.value">

</span>

<ul class="list-group" *ngIf="todos; else todosError">
    <li id="todos" *ngFor="let todo of this.filterTodos(todoOwner, todoCatagory, todoBody, todoStatus)" class="list-group-item">
        <strong>Owner: </strong>{{ todo.owner }}<br>
        <strong>Category: </strong> {{ todo.catagory }}<br>
        <strong>Status: </strong> {{ todo.status }}<br>
        <strong>Body: </strong> {{ todo.body }}<br>
        <button class="customButton" #input type="button">Toggle Status</button>
        <button class="customButton" #input type="button"> <span class="glyphicon glyphicon-trash"></span> Delete</button>

    </li>
</ul>
<!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
<ng-template #todosError>
    <p>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network issues.
    </p>
    <p>
        Please wait a bit and try again or start the server.
    </p>
</ng-template>

